.head {
    height: 140px;
    /* background-color: beige; */
}

.topbar-wrapper {
    background-color: rgb(51, 51, 51);
    color: #424242;
    width: 100%;
    line-height: 40px;
    font-size: 12px;
}

.topbar-wrapper a {
    color: #b0b0b0;
    display: block;
}

.topbar-container {
    position: relative;
}

.topbar-container .left-item {
    float: left;
}

.topbar-container .right-item {
    float: right;
}

.topbar-container li {
    float: left;
    /* text-align: center; */
}

.topbar-container a:hover {
    color: white;
}

.topbar-container .division {
    float: left;
    text-align: center;
    margin: 0 8px;
}

.app {
    position: relative;
    ;
}

.triangle {
    /* background-color: brown; */
    width: 0px;
    height: 0px;
    position: absolute;
    border: 10px solid;
    left: 0;
    top: 20.5px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-color: transparent transparent white;
    display: none;
}

.QRcode {
    width: 124px;
    /* height: 148px; */
    height: 0px;
    background-color: white;
    position: absolute;
    top: 40.5px;
    left: -39.5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    z-index: 9999;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    overflow: hidden;
    color: #333;
    transition: height 0.3s ease 0s;
}

.app:hover .QRcode {
    height: 148px;
}

.app:hover .triangle {
    display: block;
}


.QRcode img {
    width: 90px;
    /* position: absolute; */
    margin: 18px auto 12px;
    left: 0;
    right: 0;
    display: block;
}

.topbar-container .shop-cart {
    margin-left: 26px;
    background-color: #424242;
    padding-left: 15px;
    padding-right: 22px;
    /* position: relative; */
}

.topbar-container .shop-cart:hover {
    background-color: white;
}

.topbar-container .shop-cart:hover a {
    color: orange;
}

.shop-list {
    width: 320px;
    /* height:100px; */
    height: 0px;
    overflow: hidden;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    right: 0;
    top: 40px;
    /* display: none; */
    text-align: center;
    z-index: 9999;
    transition: height 0.3s ease 0s;
    color: black;
    /* vertical-align: middle; */
    line-height: 100px;
    font-size: 12px;
}

.topbar-container .shop-cart:hover .shop-list {
    height: 100px;
    /* display: block; */
}

.head-wrapper {
    height: 100px;
    /* background-color: rgb(151, 181, 236); */
    position: relative;
    
}

.head-container {
    height: 100px;
    /* background-color: rgb(218, 160, 138); */
    color: #333;
    font-size: 16px;
    /* line-height: 100px; */

}

.head-container .logo {
    width: 56px;
    height: 56px;
    background-color: rgb(255, 106, 0);
    margin-top: 22px;
    position: relative;
    overflow: hidden;
    float: left;
    font-size: 12px;
}

.head-container .logo span {
    display: inline-block;
    text-indent: -5000px;
}

.head-container .logo a {
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    transition: left 0.3s ease 0s;

}

.head-container .logo a i {
    color: white;
}

.head-container .logo .xiao {
    width: 56px;
    height: 56px;
    background-color: rgb(255, 117, 23);
    ;
    position: absolute;
    float: left;
    top: 0;
}

.head-container .logo .mi {
    width: 56px;
    height: 56px;
    background-color: rgb(255, 117, 23);
    ;
    position: absolute;
    top: 0;
    left: -56px;
}

.head-container .logo:hover .xiao {
    left: 56px;
}

.head-container .logo:hover .mi {
    left: 0;
}

.goods-list {
    float: left;
    width: 1140px;
    height: 88px;
    padding-top: 12px;
    padding-left: 30px;
}

.goods-list li {
    float: left;
}

.goods-list li:hover span:not(.left-good span) {
    color: rgb(255, 117, 23);
}

.goods-list li a {
    padding: 26px 10px 38px;
}

.goods-list .category .goodcategory {
    padding-right: 15px;
    visibility: hidden;
}

.search {
    width: 300px;
    height: 50px;
    position: relative;
    float: right;
    margin-top: 9px;

}

.search-form .search-text {
    /* position: absolute; */
    padding: 0 10px;
    width: 223px;
    height: 48px;
    float: left;
    border: none;
    box-sizing: content-box;
    border: 1px solid rgb(224, 224, 224);
    font-size: 16px;
    outline: none;
    background-color: white;
    transition: all .2s;
}

.search-form .search-btn {
    float: left;
    padding: 1px 4px;
    width: 46px;
    height: 46px;
    border: none;
    box-sizing: content-box;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: #616161;
    transition: all .2s;

}

.search-form .search-btn:hover {
    background-color: rgb(255, 117, 23);
    border-color: rgb(255, 117, 23);
    color: white;
    cursor: pointer;
}

.search-form .search-text:hover,
.search-form .search-text:hover+button {
    border-color: rgba(57, 56, 56, 0.379);
}

.search-form .search-text:focus,
.search-form .search-text:focus+button {
    border-color: rgb(255, 117, 23);
}

.drop-down {
    width: 100%;
    /* height: 230px; */
    height: 0;
    background-color:white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
    position: absolute;
    top: 100px;
    left: 0;

    transition: height 0.3s ease 0s;
    z-index: 99999;
}

.goods-list .down:hover~.drop-down,
.drop-down:hover {
    height: 230px;
    border-top: 1px solid rgb(224, 224, 224);
}

.goods-menu {
    width: 234px;
    height: 460px;
    position: relative;
    left: -86px;
    z-index: 999;
    font-size: 14px;
    background-color: rgb(165, 163, 163);
    
}

.left-menu {
    width: 234px;
    height: 420px;
    padding: 20px 0;

}

.goods-menu .left-menu .left-good {
    float: none;
    line-height: 42px;
}

.goods-menu .left-menu .left-good a {
    padding: 0 0 0 30px;
    height: 42px;
    color: white;
}

.left-good:hover {
    background-color: rgb(255, 117, 23);
}

.goods-menu .left-menu .left-good i::before {
    content: '\eb15'
}

.goods-menu .left-menu .left-good i {
    position: absolute;
    right: 20px;
    font-size: 16px;
}

.banner-container {
    width: 992px;
    height: 460px;
    /* background-color: rgb(230, 123, 180); */
    position: relative;

    left: 581px;
    overflow: hidden;
}

.banner-container .banner {
    width: 3968px;
    height: 460px;
    /* background-color: rgb(95, 148, 165); */
    position: absolute;
    /* transition: all 0.5s; */
    /* left: -992px; */
    animation-name: fade;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* animation-fill-mode: backwards; */
    /* animation-direction: alternate; */
}

@keyframes fade {
    0% {
        left: 0px;
    }

    16.6% {
        left: -992px;
    }

    33.2% {
        left: -1984px;
    }

    49.8% {
        left: -2976px;
    }

    66.4% {
        left: -1984px;
    }

    83% {
        left: -992px;
    }

    100% {
        left: 0px;
    }
}

.banner-container .banner:hover {
    animation-play-state: paused;
}


.banner-container .banner li {
    float: left;
}

.banner-container .banner img {
    width: 992px;
    height: 460px;
    /* position: absolute;
    left: 0; */
    /* float: left; */
}

.foot-container {
    width: 1226px;
    height: 170px;
    /* background-color: #bfa; */
    margin-top: 15px;
}

.foot-container li {
    float: left;
}

.foot-container .wrapper {
    width: 234px;
    height: 170px;
    background-color: rgb(95, 87, 80);

}

.foot-container .img1 {
    width: 310px;
    height: 170px;
    /* background-color: coral; */
    margin-left: 20px;
}

.foot-container .img1 img {
    width: 310px;
    height: 170px;
    
}

.wrapper ul {
    padding: 4.5px;
}

.wrapper li {
    box-sizing: border-box;
    width: 75px;
    height: 80.5px;
    background-color: rgb(95, 87, 80);
    border-right: 1px gray solid;
    color: white;
    font-size: 13px;
}

.wrapper .to {
    border-left: none;
    border-bottom: none;
}

.wrapper .to3 {
    border: none;
}

.wrapper .bo3 {
    border: none;
}

.wrapper .bo {
    border-left: none;
    border-top: none;
}

.wrapper i {
    width: 65px;
    display: block;
    margin: 27px auto 0px;
    text-align: center;
    padding-bottom: 10px;

}



.wrapper .to i {
    /* border-left:  1px gray solid; */
    border-bottom: 1px gray solid;

}